In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_fake =pd.read_csv('/Users/user/Downloads/News _dataset/Fake.csv')
df_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [9]:
df_true = pd.read_csv('/Users/user/Downloads/News _dataset/True.csv')
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [10]:
df_fake['class'] =0
df_true['class'] =1

In [13]:
df_fake.isnull().sum()

title      0
text       0
subject    0
date       0
class      0
dtype: int64

In [14]:
df_true.isnull().sum()

title      0
text       0
subject    0
date       0
class      0
dtype: int64

In [11]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [22]:
data_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i],axis=0 , inplace=True)
    
data_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i],axis=0,inplace =True)

In [23]:
df_fake.shape,df_true.shape # 10 rows deleted

((23471, 5), (21407, 5))

In [24]:
data_fake_manual_testing['class'] =0
data_true_manual_testing['class'] =1

/var/folders/pz/5cx5_pn93f5f1v5fwnvpk56m0000gn/T/ipykernel_6143/2623203861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] =0
/var/folders/pz/5cx5_pn93f5f1v5fwnvpk56m0000gn/T/ipykernel_6143/2623203861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] =1

In [25]:
data_fake_manual_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [27]:
data_true_manual_testing.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [28]:
df_merged =pd.concat([df_fake,df_true],axis=0)
df_merged.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [29]:
df =df_merged.drop(['title','subject','date'],axis=1)

In [31]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [32]:
df =df.sample(frac=1)
df.head()

                                                    text  class
18909  BRUSSELS (Reuters) - Temporary border controls...      1
19175  When Nordstrom announced on Thursday that it w...      0
14520  Wow! If you saw the Republican debate last nig...      0
9734   House Majority Whip Steve Scalise (R., La.) th...      0
9142   CLEVELAND (Reuters) - Three groups planning to...      1

In [33]:
df.reset_index(inplace=True)
df.drop(['index'],axis=1,inplace=True)

In [34]:
df.head()

                                                text  class
0  BRUSSELS (Reuters) - Temporary border controls...      1
1  When Nordstrom announced on Thursday that it w...      0
2  Wow! If you saw the Republican debate last nig...      0
3  House Majority Whip Steve Scalise (R., La.) th...      0
4  CLEVELAND (Reuters) - Three groups planning to...      1

In [ ]:
# creating a function to process the text
import re
def word(text):
    text =text.lower()
    text =re.sub('\[.*?\]','',text)
    text = re.sub("\\W"," ",text)
    text =re.sub('https?://\S+|www\.\S+','',text)
    text =re.sub('<.*?>+','',text)
    text =re.sub('[%s]'%re.escape(string.punctuation),'',text)
    text =re.sub('\n','',text)
    text =re.sub('\w*\d\w*','',text)
    return text

In [37]:
# creating a function to process the text
import re
import string
def word(text):
    # Convert the text to lowercase
    text = text.lower()

    # Remove text inside square brackets, typically used for references or citations
    text = re.sub('\[.*?\]', '', text)

    # Remove all non-word characters (special characters) and replace them with spaces
    text = re.sub("\\W", " ", text)

    # Remove URLs starting with 'http' or 'https', and URLs starting with 'www'
    text = re.sub('https?://\S+|www\.\S+', '', text)

    # Remove HTML tags (e.g., <p>, <div>, etc.)
    text = re.sub('<.*?>+', '', text)

    # Remove all punctuation characters from the text
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)

    # Remove newline characters
    text = re.sub('\n', '', text)

    # Remove words containing numbers
    text = re.sub('\w*\d\w*', '', text)

    return text

In [38]:
df['text']=df['text'].apply(word)

In [39]:
x=df['text']
y=df['class']

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [41]:
# convert text to vectors using sklearn TfidfVectorizer
vectorisation =TfidfVectorizer()
xv_train =vectorisation.fit_transform(x_train)
xv_test = vectorisation.transform(x_test)

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [44]:
pred_lr = LR.predict(xv_test)

In [46]:
LR.score(xv_test,y_test)

0.9862745098039216

In [48]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5820
           1       0.98      0.99      0.99      5400

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [49]:
# Using Decision Tree
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(xv_train,y_train)

DecisionTreeClassifier()

In [50]:
pred_dt =DT.predict(xv_test)

In [51]:
DT.score(xv_test,y_test)

0.9959001782531194

In [52]:
print(classification_report(y_test,pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5820
           1       1.00      0.99      1.00      5400

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [53]:
from sklearn.ensemble import GradientBoostingClassifier

In [54]:
GB = GradientBoostingClassifier(random_state = 0)
GB.fit(xv_train,y_train)

GradientBoostingClassifier(random_state=0)

In [55]:
pred_gb = GB.predict(xv_test)

In [57]:
GB.score(xv_test,y_test)

0.9952762923351158

In [58]:
print(classification_report(y_test,pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5820
           1       0.99      1.00      1.00      5400

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [59]:
# Using RandomForest

from sklearn.ensemble import RandomForestClassifier

In [60]:
RF = RandomForestClassifier(random_state=0)
RF.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [61]:
pred_rf = RF.predict(xv_test)

In [62]:
RF.score(xv_test,y_test)

0.9903743315508021

In [63]:
print(classification_report(y_test,pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5820
           1       0.99      0.99      0.99      5400

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [78]:
def output_label(n):
    if n==0:
        return 'Fake News'
    elif n==1:
        return 'Not Fake news'
    
def manual_testing(news):
    testing_news = {'text':[news]}
    new_def_test =pd.DataFrame(testing_news)
    new_def_test['text'] =new_def_test['text'].apply(word)
    new_x_test = new_def_test['text']
    new_xv_test =vectorisation.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT =DT.predict(new_xv_test)
    pred_GB=GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGB Prediction: {} \nRF Prediction: {}".format(
    output_label(pred_LR[0]),
    output_label(pred_DT[0]),
    output_label(pred_GB[0]),
    output_label(pred_RF[0])
))

In [80]:
news =str(input())
manual_testing(news)

MUMBAI: Dputy chief minister Ajit Pawar is a ..


LR Prediction: Fake News
DT Prediction: Fake News
GB Prediction: Fake News
RF Prediction: Fake News